.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  height: 100vh;
  background-color: #FFFFFF;
  color: #1E1E1E;
  // font-family: serif;
}

.content {
  display: flex;
  flex-direction: column;
  // align-items: left;
  // justify-content: center;
  // text-align: left;
  width: 100%;
  max-width: 500px;
  // padding: 20px;
  gap: 1.5rem;
}

.asterisk {
  color: #e88c7d;
  font-size: 2.5rem;
  // margin-bottom: 2rem;
  font-weight: bold;
}

.question {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  max-width: 80%;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 8px 12px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.inputContainerFocused {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 2px #000000;
}

.avatar {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  // background-color: #505050 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px !important;
  font-weight: bold;
  font-size: 1rem;
  color: #1E1E1E;
}

.sendButton {
  width: 44px;
  height: 44px;
  min-width: 44px !important;
  // border-radius: 50% !important;
  background-color: #e6e0dc !important;
  color: #2c2c2c !important;
  font-size: 1.8rem !important;
  font-weight: bold !important;
  line-height: 1;
}

.sendButton:disabled {
  // background-color: #555 !important;
  color: #888 !important;
}

.traitsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // margin-top: 16px;
  width: 100%;
}

.traitChip {
  border-radius: 48px !important;
  border: 1px solid #cacaca !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 32px !important;
  padding: 4px 8px !important;
  color: #1e1e1e !important;
  background-color: white !important;

  &:hover {
    border-color: #757575 !important;
    background-color: #f5f5f5 !important;
  }
}

.selectedTrait {
  border-color: #1976d2 !important;
  background-color: #e3f2fd !important;
  color: #1976d2 !important;
}