@import "../styles/animation.scss";

.new-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    animation: slide-in-from-top ease 0.3s;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    animation: slide-in ease 0.3s;
  }

  .title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
  }

  .sub-title {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }

  .actions {
    margin-top: 2rem;
    animation: slide-in ease 0.45s;
    display: flex;
    justify-content: center;
    font-size: 12px;

    .skip {
      margin-left: 10px;
    }
  }
}
