@use "@/styles/animation.scss";
@use "@/styles/window.scss";
@use "@/styles/theme.scss";

/* Import KaTeX CSS */
@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --sidebar-width: 256px;
  --window-width: 100vw;
  --window-height: 100vh;
  --window-content-width: calc(100% - var(--sidebar-width));
  --full-height: 100vh;
  --message-max-width: 80%;
}

@media only screen and (max-width: 600px) {
  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 100%;
  }

  .no-mobile {
    display: none;
  }
}


body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  color: var(--black);
}

#__next, main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

::-webkit-scrollbar {
  --bar-width: 10px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
  transition: all 2s linear !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-tertiary);
  transition: background-color 2s linear !important;
}

*:hover::-webkit-scrollbar-thumb {
  // opacity: 1; 
  background-color: var(--bg-tertiary);
  transition: background-color 2s linear !important;
}

select {
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
}

// input[type="checkbox"] {
//   cursor: pointer;
//   background-color: var(--white);
//   color: var(--black);
//   appearance: none;
//   border: var(--border-in-light);
//   border-radius: 5px;
//   height: 16px;
//   width: 16px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }

// input[type="checkbox"]:checked::after {
//   display: inline-block;
//   width: 8px;
//   height: 8px;
//   background-color: var(--black);
//   content: " ";
//   border-radius: 2px;
// }

input[type="range"] {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--black);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb();
}

input[type="range"]::-moz-range-thumb {
  @include thumb();
}

input[type="range"]::-ms-thumb {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"] {
  appearance: none;
  border-radius: 10px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  font-family: inherit;
  text-align: left;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: var(--bg-tertiary);
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.9em;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.code-block {
  border-radius: 8px;
  overflow: hidden;
  margin: 1em 0;
  background-color: var(--bg-secondary);
  width: 100%;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--bg-tertiary);
  color: var(--text-secondary);
  font-size: 0.9em;

  .copy-code-button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-secondary);
    padding: 2px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--bg-secondary);
      color: var(--text-primary);
    }
  }
}

pre {
  position: relative;
  background-color: transparent;
  padding: 1em;
  border-radius: 0;
  margin: 0;
  overflow-x: auto;
  
  code {
    background-color: transparent;
    padding: 0;
    font-size: inherit;
    border-radius: 0;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
  &:focus {
    filter: brightness(0.95);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  border-radius: 11px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyable {
  user-select: text;
}
