@mixin theme-light {
  --theme: light;
  --white: #ffffff;
  --black: #111827;
  --gray: #f9fafb;
  --primary: var(--black);
  --second: var(--white);
  --hover-color: #f3f4f6;
  --bar-color: rgba(0, 0, 0, 0.1);
  --theme-color: var(--bg-primary);

  --shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.06);
  --border-in-light: 1px solid var(--border-primary);

  --text-primary: var(--black);
  --text-secondary: #4B5563;
  --text-disabled: #9CA3AF;
  --bg-primary: #f9fafb;
  --bg-secondary: #f3f4f6;
  --bg-tertiary: #e5e7eb;
  --border-primary: #e5e7eb;
  --border-secondary: #d1d5db;
  --icon-primary: var(--black);
  --icon-secondary: var(--text-secondary);
  --action-primary: var(--black);
  --action-primary-hover: var(--text-secondary);
}

@mixin theme-dark {
  --theme: dark;
  --white: #1f2937;
  --black: #f3f4f6;
  --gray: #111827;
  --primary: var(--black);
  --second: var(--bg-secondary);
  --hover-color: #374151;
  --bar-color: rgba(255, 255, 255, 0.15);

  --shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  --card-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1);
  --border-in-light: 1px solid var(--border-primary);

  --text-primary: var(--black);
  --text-secondary: #9CA3AF;
  --text-disabled: #6B7280;
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --bg-tertiary: #374151;
  --border-primary: #374151;
  --border-secondary: #4B5563;
  --icon-primary: var(--black);
  --icon-secondary: var(--text-secondary);
  --action-primary: var(--black);
  --action-primary-hover: var(--text-secondary);
  --theme-color: var(--bg-primary);

  div:not(.no-dark) > svg {
    filter: none;
  }
}

.light {
  @include theme-light;
}

.dark {
  @include theme-dark;
}

:root {
  @include theme-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}
