.viewContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
  background-color: white; 
  padding: 32px 24px;
  border-radius: 16px;
}

.header {
  gap: 8px;
  .title {  
    padding: 6px 16px 0px 16px;
    color: #131a28;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 32px;
  }
  .subtitle {
    padding: 0px 16px 6px 16px;
    color: #757575;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 32px;
  }
  flex-grow: 1;
  overflow-y: auto;
}

.divider {
  border-color: #b3b3b3;
}

.formArea {
  flex-grow: 1;
  overflow-y: auto;

  padding: 18px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formSection {
  display: flex !important;
  border-radius: 8px !important; 
  flex-direction: column !important;
  gap: 20px !important;
}

.textField {
  & :global(.MuiOutlinedInput-root) {
    border-radius: 8px !important;
    background-color: white !important;
    height: 48px !important;
    font-family: "Inter", sans-serif !important;

    &:hover fieldset {
      border-color: #a0a0a0 !important;
    }

    &:global(.Mui-focused fieldset) {
      border-color: black !important;
    }

    &:global(.Mui-error fieldset) {
      border-color: #F33D4F !important;
    }
  }

  & :global(.MuiInputBase-input) {
    width: 100% !important;
    padding: 0 14px !important;
    height: 100% !important;
    color: #131a28 !important;
    font-size: 16px !important;
    font-family: "Inter", sans-serif !important;
    font-weight: 400 !important;
  }
}

.textArea {
  & :global(.MuiOutlinedInput-root) {
    border-radius: 8px !important;
    background-color: white !important;
    font-family: "Inter", sans-serif !important;

    &:hover fieldset {
      border-color: #a0a0a0 !important;
    }

    &:global(.Mui-focused fieldset) {
      border-color: black !important;
    }

    &:global(.Mui-error fieldset) {
      border-color: #F33D4F !important;
    }
  }
}


.traitsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.traitChip {
  border-radius: 48px !important;
  border: 1px solid #cacaca !important;
  font-family: "Inter", sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 32px !important;
  padding: 4px 8px !important;
  color: #1E1E1E !important;
  background-color: white !important;

  .MuiChip-icon {
    color: #757575 !important;
    margin-left: 6px !important;
    margin-right: -4px !important;
    font-size: 20px !important;
  }
  .MuiChip-label {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  &:hover {
    border-color: #757575 !important;
    background-color: #f5f5f5 !important;
  }

  &.selectedTrait {
    border-color: #131a28 !important;
    background-color: #e3f2fd !important;
    color: #131a28 !important;
    .MuiChip-icon {
      color: #131a28 !important;
    }
  }
}

.blackAndWhiteSwitch {
  & :global(.MuiSwitch-switchBase) {
    & :global(.MuiSwitch-thumb) {
      background-color: black !important;
    }

    &.Mui-checked {
      color: white !important;

      & :global(.MuiSwitch-thumb) {
        background-color: white !important;
      }
    }
  }

  & :global(.MuiSwitch-track) {
    background-color: #ccc !important;
    opacity: 1 !important;
  }

  & :global(.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track) {
    background-color: black !important;
    opacity: 1 !important;
  }
}

.actionsFooter {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px 8px 16px;
  margin-top: auto;
}

.cancelButton {
  font-family: "Inter", sans-serif !important;
  
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 32px !important;

  color: #131a28 !important;
  border-color: #cacaca !important;
  border-radius: 48px !important;
  padding: 4px 16px !important;
  text-transform: none !important;
  &:hover {
    border-color: #131a28 !important;
    background-color: #f9f9f9 !important;
  }
}

.saveButton {
  font-family: "Inter", sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 32px !important;

  border-radius: 48px !important;
  padding: 4px 16px !important;
  text-transform: none !important;
  background-color: #f3f3f3 !important;
  color: #cacaca !important;
  border: 1px solid #f3f3f3 !important;

  &:not(:disabled) {
    background-color: #131a28 !important;
    color: white !important;
    border-color: #131a28 !important;
    &:hover {
      background-color: #333a47 !important;
    }
  }
} 