.container {
  width: 100%;
//   height: 100%;
  flex-direction: column;
  justify-content: flex-start; /* Ensuring content aligns to top */
  align-items: flex-start;
  display: inline-flex;
}

.projectHeaderContainer {
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 6px; 
  display: flex;
  padding-bottom: 6px; 
}

.projectHeaderText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--Colors-Neutral-grey-400, #979797);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

/* Styles for the clickable New Chat row */
.newChatRow {
  align-self: stretch; 
  height: 48px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;

  &:hover {
    background-color: #B3B3B3;
  }
}

.iconContainer {
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.iconWrapper {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the new_chat icon img tag */
.newChatIcon {
  width: 20px; /* As per inline style in TSX */
  height: 20px; /* As per inline style in TSX */
  /* Add any other specific styling for the img if needed */
}

.newChatText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--Colors-Neutral-grey-800, #1E1E1E);
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  word-wrap: break-word;
} 