.container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.projectHeaderContainer {
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 6px; 
  display: flex;
  padding-bottom: 6px; 
}

.projectHeaderText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.newChatRow {
  align-self: stretch; 
  height: 48px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.iconContainer {
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.iconWrapper {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newChatIcon {
  width: 20px;
  height: 20px;
  color: var(--icon-primary);
  svg {
    color: var(--icon-primary);
    width: 20px;
    height: 20px;
  }
}

.newChatText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  word-wrap: break-word;
} 